<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Knight Rider Cast</title>
</head>
  <body>
    <h1>Knight Rider Cast</h1>
    <table>
    <tr><th>Name</th><th>Actor</th><th>Description</th><th>Age</th><th>Headshot</th></tr>

      <% characters.each do |character| %>
    <tr>
      <td><%= "#{character.name}" %></td>
      <td><%= "#{character.actor}" %></td>
      <td><%= "#{character.description}" %></td>
      <td><%= "#{((Date.today - Date.new(character.birth_year)).to_i / 365)}" %></td>
      <td><%= "<img src=#{character.headshot_url}" %></td>
    </tr>
      <% end %>
  </table>
  </body>
</html>


<!-- <img src=\"#{character.headshot_url}\"> -->
