<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>"Knight Rider Cast"</title>
  </head>
  <body>
    <h1><%= michael_knight.name %></h1>
    <p><%= michael_knight.actor%></p>
    <p><%= michael_knight.description%></p>
    <p><%= (2017 - michael_knight.birth_year)%></p>
    <p><%= michael_knight.headshot_url%></p>
  </body>
</html>
