<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>"Knight Rider Cast"</title>
  </head>
  <body>
    <h1><%= kitt.name %></h1>
    <p><%= kitt.actor%></p>
    <p><%= kitt.description%></p>
    <p><%= (2017 - kitt.birth_year)%></p>
    <p><%= kitt.headshot_url%></p>

    <h1><%= michael_knight.name %></h1>
    <p><%= michael_knight.actor%></p>
    <p><%= michael_knight.description%></p>
    <p><%= (2017 - michael_knight.birth_year)%></p>
    <p><%= michael_knight.headshot_url%></p>

    <h1><%= devon_miles.name %></h1>
    <p><%= devon_miles.actor%></p>
    <p><%= devon_miles.description%></p>
    <p><%= (2017 - devon_miles.birth_year)%></p>
    <p><%= devon_miles.headshot_url%></p>
  </body>
</html>
