  <html>
  <head>
    <meta charset='utf-8'>
    <title>Knight Rider Cast</title>
  </head>
  <body>
    <h1>Knight Rider Cast</h1>
    <p><br>I don't suck at html, you suck at html.<br><p>
    <h3>Character: <%=characters[0].name %></h3>
    <p>Actor: <%=characters[0].actor %><br>
       Description: <%=characters[0].description %><br>
       Age: <%=characters[0].age %><br>
       <img src=<%="#{characters[0].headshot_url}"%> alt="Kitt" style="width:304px;height:228px;"><br>
    </p>
    <h3>Character: <%=characters[1].name %></h3>
    <p>Actor: <%=characters[1].actor %><br>
       Description: <%=characters[1].description %><br>
       Age: <%=characters[1].age %><br>
       <img src=<%="#{characters[1].headshot_url}"%> alt="David Hasselhoff" style="width:304px;height:228px;"><br>
    </p>
    <h3>Character: <%=characters[2].name %></h3>
    <p>Actor: <%=characters[2].actor %><br>
       Description: <%=characters[2].description %><br>
       Age: <%=characters[2].age %><br>
       <img src=<%="#{characters[2].headshot_url}"%> alt="Edward Mulhare" style="width:304px;height:228px;"><br>
    </p>
  </body>
  </html>